*.class
.idea/*
src/*.png

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/csc3002f-sockets.iml
/src/sample.png
/out/production/csc3002f-sockets/sample.png
/out/production/csc3002f-sockets/troll.png
